*{
    box-sizing: border-box;
}

html,
body{
     padding: 0;
      margin: 0;
       font-family: verdana, arial, sans-serif;
 }
 @font-face{
    font-family: Montserrat-Medium;
    src: url("font/Montserrat-Medium.ttf");
 }
 @font-face{
    font-family: Montserrat-Light;
    src: url("font/Montserrat-Light.ttf");
 }

body{
    background: linear-gradient(to right, black 2%, rgb(63, 61, 61) 50%, black 98%);
}

hr{
    color: white;
 }

.flexHeader{
    font-family: Montserrat-Medium;
    display: flex;
    background-image: url(img/HEADER.png);
    background-size: cover;  
    object-fit: cover;
    height: 219px; /*проверить на большом экране, без него  косит шапку на маленьком экране / 173px laptop*/
}

.textHeader{
    display: flex;
    justify-content: right;
    color: white;
    width: 50%;
    padding: 1% 7.2% 2% 27%;
    font-size: 215%;
    text-align: right;
}

#nav{
    display: flex;
    justify-content: left;
    width: 50%;
    padding: 7% 11% 1% 3.5%;
    font-size: 135%;
}

#nav li { 
    float: left;
    list-style: none; 
}

#nav a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#nav li:last-child a {              
    border-right: none;
}

#nav a:hover{
    font-weight: bold;
}

#nav:after {
    content: " ";
    display: table;
    clear: both;
}
/*********************** News *****************************/
.blockHeaderNews{
    display: flex;
    margin-left: 6.4%;
    color: white; 
}

.blockNews {
    display: flex;
    padding: 1em 6.2em 0em 7.2em;
}

.blockNews h3{
    margin-top: 2%;
}

.blockNewsBar {
    display: flex;
    justify-content: center;
    position: relative;
    width: 33.3%;
    padding: 0.5%;
    display: inline-block; /* Выстраиваем по горизонтали */
    vertical-align: top; /* Выравниваем по верхнему краю */
    color: white;
}

.blockNewsBar img{
    width: 100%; /* Ширина изображений */
    height: 70%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область равномерно по соотношению сторон*/ 
}
/********************** About Us *****************************/
.blockHeaderAboutUs{ /*обьеденить ве хедеры в один css*/
    display: flex;
    height: 0px;
    margin-left: 6.4%;
    color: white;
}

.blockHeader_hr{ /*длина hr*/
    width: 94%;
}

.blockHeader_hr h2{ /*интервал между h2 и hr*/
    margin-bottom: 5px;
}

.blockAboutUs {
    display: flex;
    padding: 6em 6.7em 0em 7.6em;
    color: white;
}

.blockAboutUs2 {
    display: flex;
    color: white;
    padding: 0 6.7em 0em 6.7em;
}

.blockAboutUsImage {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 50%;
}

.blockAboutUsImage2 {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 50%;
    padding-top: 2.6%;
}
    
.blockLeftAboutUsImage1 { /*сделать адаптивную картинку*/
    display: flex;
    width: 100%;
}

.blockLeftAboutUsImage2 img{
    display: flex;
    width: 100%;
    object-fit: cover; /* Вписываем фотографию в область блока*/ 
}

.blockLeftAboutUsImage1 img{
    display: flex;
    width: 100%;
    object-fit: cover; /* Вписываем фотографию в область блока*/ 
}

.blockAboutUsText{
    text-align: left;

    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.blockAboutUsText2{ /*обьеденить с выше стоящим кодом за исключением правила напраления текста*/
    text-align: end;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/*********************** Galery *****************************/
.blockHeaderGalery{
    display: flex;
    margin-left: 6.4%;
    color: white;
}
.blockGalery1{
    display: flex;
    width: 100%;
    transition: all 1.3s ease; /*кажеться не работает*/
}
.block1 {
    display: flex;
    justify-content: center;
    width: 50%;
}
.blockLeft{
    display: flex;
    width: 72%;
    object-fit: cover;
    padding: 5%;
}
.blockLeft img{
    display: flex;
    width: 100%;
}

.blockGalery1 :hover{
    transform: scale(105%)
}

.block2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 6%;
}
.block2 img{
    display: flex;
    width: 100%; /* Размер изображений */
    object-fit: cover; /* Вписываем фотографию в область */ 
    padding: 5%;
}
.blockTop{
    display: flex;
}
.blockTop img{
    padding: 10% 0% 0% 1%;
}
.blockBottom{
    display: flex;
}
.blockBottom img{
    padding: 1% 0% 0% 1%;
}
/************************ Footer ******************************/
.blockFooter{
    flex-direction: row;
    font-family: Montserrat-Light;
    display: flex;
    background: radial-gradient(at bottom, rgb(146, 143, 143), black);
    height: 235px; /*32% - оставляет белую полосу если развернуть маленькое окно браузера*/
    color: rgb(241, 233, 233);
}

.blockFooterFriends {
    width: 21%;
    text-align: center;
    padding: 4.5% 0% 0% 6%;
}

.blockFooterQuestion{
    width: 58%;
    text-align: center;
    background-image: url(img/footer.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.blockFooterFollowMe{
    width: 21%;
    text-align: center;
    padding: 4.5% 6% 0% 0%;
}

.blockFooterFollowMe img{
    width: 42px;
    padding: 0 2% 0 2%;
}